include:
  - project: 'meat-n-potatoes/ci'
    file: 'all.yml'
    ref: v2

stages:
  - lint
  - build
  - test
  - publish

lint:
  extends: .node-lint
  stage: lint

audit:
  extends: .node-audit
  stage: lint
  allow_failure: true

build:
  extends: .node-build
  stage: build

test:
  extends: .node-test
  stage: test
  services:
    - postgres:11
  variables:
    POSTGRES_HOST: postgres
    POSTGRES_DB: test_db
    POSTGRES_USER: runner
    POSTGRES_PASSWORD: secure

publish:
  extends: .node-publish-tag
  stage: publish

publish-public:
  extends: .node-publish-tag-public
  stage: publish
