name: docker-image

on:
  push:
    branches: 'master'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: olegtarasov/get-tag@v2.1
        id: tagName

      - uses: docker/build-push-action@v2
        if: github.ref == 'refs/heads/master'
        with:
          push: true
          tags: joelgallant/germinator:latest

      - uses: docker/build-push-action@v2
        if: contains(github.ref, 'refs/tags/')
        with:
          push: true
          tags: joelgallant/germinator:${{ steps.tagName.outputs.tag }}
