name: main

on:
  push:
    branches: '*'

jobs:
  build:
    strategy:
      matrix:
        # node-version: [10.x, 12.x, 14.x, 15.x]
        # os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [15.x]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install

    - run: yarn build
    - run: yarn lint
    - run: yarn test --coverage --passWithNoTests
      env: { CI: 1 }

    - uses: codecov/codecov-action@v1
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.node-version == '14.x' }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./germinator/coverage/coverage-final.json,./germinator-cli/coverage/coverage-final.json
        fail_ci_if_error: true
