name: main

on:
  push:
    branches: '*'

jobs:
  build:
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        os: [ubuntu-latest]

        # TODO: we use "services" which only run on linux runners
        # os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    services:
      postgres:
        image: postgres:12-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432/tcp
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: yarn install
    - run: yarn build
    - run: yarn lint
    - run: yarn test --coverage
      env:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
        POSTGRES_HOST: localhost
        POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }}

    - uses: codecov/codecov-action@v1
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.node-version == '14.x' }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./germinator/coverage/coverage-final.json,./germinator-cli/coverage/coverage-final.json,./germinator-core/coverage/coverage-final.json,./germinator-helpers/coverage/coverage-final.json,./germinator-node/coverage/coverage-final.json
        fail_ci_if_error: true
